@media (max-width: 767px) {
/*---------------*/
/*---- HOME -----*/
/*---------------*/
.home_body{
  .header{
    .logo img{
      width:100% !important;
    }
  }
  .main_box{
    margin-top: 15px !important;
    .record {
      max-width:767px !important;
      
      img{
        width:100% !important;
      }

      .overlay {
        position:relative !important;
        max-width:767px !important;
        opacity:1 !important;
        padding: 15px !important;
      }
    }
  }

  .smedia{
    width:48px;
    height:48px;
    background-size: 48px 48px;
    margin:10px;
  }
}

}