@media (max-width: 991px) {
/*---------------*/
/*---- HOME -----*/
/*---------------*/
.home_body{
  .header{
    .logo img{
      width:100%;
    }
  }
  .main_box{
    margin-top: 15px;
    .record {
      max-width:767px;
      
      img{
        width:100%;
      }

      .overlay {
        position:relative;
        max-width:767px;
        opacity:1;
        padding: 15px;

        .ttw-music-player { 
          width: 100%; 
          margin: 15px auto;

          .title { width: 100px; }

          .album-cover{
            display: none;
            float: none;
            margin: 0 auto;
          }

          .track-info { 
            display: block;
            float: none;
            margin: 10px auto;
            text-align: center;

            .title { width: auto; }
          
            .buy{
              position: relative;
              top: 0;
              float: right;
            }
          }

          .player-controls {
            margin: 12px auto 30px;
            display: block;
            float: none;
          }
        }
      }
    }
  }

  .smedia{
    width:48px;
    height:48px;
    background-size: 48px 48px;
    margin:10px 5px;
  }
  .smedia.bcmp{
        width:108px;
        height:48px;
        background-size: 108px 48px;
        background-image:url(../img/logo_bc.png);
      }
}

}