/*---------------*/
/*---- RESETS ---*/
/*---------------*/

* {
  margin:0px;
  padding:0px;
  border:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; }

body{
    margin: 0;
    padding: 0;
    border: 0;
}

/*---------------*/
/*---- HOME -----*/
/*---------------*/
.home_bg{
    position:absolute; 
    width:100%; 
    height:100%;
    display: block;
    background: transparent url("../img/bg.jpg") no-repeat scroll top center / cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.home_body{
  height:100%;
  margin:0px;
  padding:0px;
  
  .header{
    display:inline-flex;;

    .logo{
      margin:0;
      padding:0;
      h1 {
        margin:0;
        padding:0;
      }
    }

    .main_nav {
      height: 100px;

      .nav_menu {
        position:relative;
        top:50%;
        transform:translateY(-50%);
      }
    }
  }

  .main_box {
    padding-top:20px;

    .record{
      position:relative;
      width:100%;
      max-width:600px;

      img{
        width:100%; 
      }

      .overlay {  
        background:rgba(0,0,0,.75);
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        max-width:600px;
        opacity:0;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        
        &:hover{ opacity:1; }
      }

      .lock{ opacity:1; }
    }
  }

  .footer_nav{ text-align:center; }

  .smedia{
    width:64px;
    height:64px;
    margin:10px;
  }
  .smedia.fcbk{
    background-image:url(../img/facebook.png);
    &:hover{ 
      background-image:url(../img/white_facebook.png);
      background-color:#4d67a3;
     }
  }
  .smedia.twtr{
    background-image:url(../img/twitter.png);
    &:hover{ 
      background-image:url(../img/white_twitter.png);
      background-color:#25a7df; 
    }
  }
  .smedia.sptf{
    background-image:url(../img/spotify.png);
    &:hover{ 
      background-image:url(../img/white_spotify.png);
      background-color:#66a200; 
    }
  }
  .smedia.rdio{
    background-image:url(../img/rdio.png);
    &:hover{ 
      background-image:url(../img/white_rdio.png);
      background-color:#396683; 
    }
  }
  .smedia.sndc{
    background-image:url(../img/soundcloud.png);
    &:hover{ 
      background-image:url(../img/white_soundcloud.png);
      background-color:#ff5c00; 
    }
  }
  .smedia.utbe{
    background-image:url(../img/youtube.png);
    &:hover{ 
      background-image:url(../img/white_youtube.png);
      background-color:#cc171e; 
    }
  }
  .smedia.lkdn{
    background-image:url(../img/linkedin.png);
    &:hover{ 
      background-image:url(../img/white_linkedin.png);
      background-color:#0178b5; 
    }
  }
}