/*---------------*/
/*---- RESETS ---*/
/*---------------*/
* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  border: 0; }

/*---------------*/
/*---- HOME -----*/
/*---------------*/
body {
  background: url("../img/bg_salmon.jpg") fixed 50%/cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.home_body {
  height: 100%;
  margin: 0px;
  padding: 0px; }
  .home_body .header {
    display: inline-flex;
    background: #151515; }
    .home_body .header .logo {
      margin: 0;
      padding: 0; }
      .home_body .header .logo h1 {
        margin: 0;
        padding: 0; }
    .home_body .header .main_nav {
      height: 100px; }
      .home_body .header .main_nav .nav_menu {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  .home_body .main_box {
    padding-top: 20px; }
    .home_body .main_box .record {
      position: relative;
      width: 100%;
      max-width: 600px; }
      .home_body .main_box .record img {
        width: 100%; }
      .home_body .main_box .record .overlay {
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        max-width: 600px;
        opacity: 0;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease; }
        .home_body .main_box .record .overlay:hover {
          opacity: 1; }
      .home_body .main_box .record .lock {
        opacity: 1; }
  .home_body .footer_nav {
    text-align: center; }
    .home_body .footer_nav ul {
      display: inline-table; }
    .home_body .footer_nav ul li {
      display: inline; }
  .home_body .smedia {
    width: 64px;
    height: 64px;
    margin: 10px; }
  .home_body .smedia.fcbk {
    background-image: url(../img/facebook.png); }
    .home_body .smedia.fcbk:hover {
      background-image: url(../img/white_facebook.png);
      background-color: #4d67a3; }
  .home_body .smedia.twtr {
    background-image: url(../img/twitter.png); }
    .home_body .smedia.twtr:hover {
      background-image: url(../img/white_twitter.png);
      background-color: #25a7df; }
  .home_body .smedia.sptf {
    background-image: url(../img/spotify.png); }
    .home_body .smedia.sptf:hover {
      background-image: url(../img/white_spotify.png);
      background-color: #66a200; }
  .home_body .smedia.rdio {
    background-image: url(../img/rdio.png); }
    .home_body .smedia.rdio:hover {
      background-image: url(../img/white_rdio.png);
      background-color: #396683; }
  .home_body .smedia.sndc {
    background-image: url(../img/soundcloud.png); }
    .home_body .smedia.sndc:hover {
      background-image: url(../img/white_soundcloud.png);
      background-color: #ff5c00; }
  .home_body .smedia.utbe {
    background-image: url(../img/youtube.png); }
    .home_body .smedia.utbe:hover {
      background-image: url(../img/white_youtube.png);
      background-color: #cc171e; }
  .home_body .smedia.lkdn {
    background-image: url(../img/linkedin.png); }
    .home_body .smedia.lkdn:hover {
      background-image: url(../img/white_linkedin.png);
      background-color: #0178b5; }

/*# sourceMappingURL=style.css.map */
