@media (max-width: 767px) {
/*---------------*/
/*---- HOME -----*/
/*---------------*/
.home-body{
    .main-box {
        h1 {
            font-size: 24px !important;

            .glyphicon { font-size: 20px !important; }
        }
        .content-box {
            .nav-menu {
                li { 
                	display: list-item !important;
                    margin: 15px !important;
                }
            }
        }
    }
    /*.btn { width: 150px !important; }*/
}

}