/*---------------*/
/*---- FONTS ----*/
/*---------------*/

@font-face {
    font-family: 'agitpropmedium';
    src: url('../fonts/agitpm-webfont.eot');
    src: url('../fonts/agitpm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agitpm-webfont.woff2') format('woff2'),
         url('../fonts/agitpm-webfont.woff') format('woff'),
         url('../fonts/agitpm-webfont.ttf') format('truetype'),
         url('../fonts/agitpm-webfont.svg#agitpropmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---------------*/
/*---- RESETS ---*/
/*---------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body{
    margin: 0;
    padding: 0;
    border: 0;
}


.btn{
    padding: 5px;
    border: 2px solid #ccc;
    background: rgba(255,255,255,0.5);
}

/*---------------*/
/*---- HOME -----*/
/*---------------*/
body{
    background: url(../img/home_bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.home-body{
    display: block;
    height: 100%;
    
    .main-box {
        text-align: center;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #333;

        h1 {
            font-family: 'agitpropmedium';
            font-size: 78px;

            .glyphicon { font-size: 52px; }
        }

        .content-box {
            background-color: rgba(222,222,222,0.5);
            border-radius: 5px;
            border: 1px solid #333;
            text-align: center;
            position: relative;
            float: none;
            
            a{ color: #555; }

            .nav-menu {
                display:inline-block;
                vertical-align:middle;
                list-style: none;
                margin: 15px auto;
                float: none;
                text-align: center;
                
                li { 
                    display: inline-block;
                    float: none;
                }
            }
        }
    }

    .btn{ 
        border: 1px solid #333; 
        background: rgba(222,222,222,0.5);
    }
    .btn:hover{ background: rgba(188,188,188,0.5); }
}