<script type="text/javascript" src="assets/custom/js/player.js"></script>
<div class="record" ng-init="initialize()">
    <img src="assets/custom/img/rvst.jpg" alt="Rust - Fail Together" />
    <div class="overlay">
        <div  id="player_holder"></div>
        <div class="download">
            <a href="assets/custom/music/RVST - Fail Together (EP, 2015).zip" alt="Download here" onclick="ga('send', 'event', 'link', 'click', 'download');">
                <img src="assets/custom/img/download_here.jpg" />
            </a>
        </div>
    </div>
</div>
