<h1>  
  About
</h1>
<br/>
<div class="about">
  <p>My name is Gabriel Costa, B.Sc. in Computer Science from Universidade Federal do Rio Grande do Sul, elected the best Computer Science College in Brazil. I have experience developing on both back and front-end of websites and web-based applications (B2B and B2C) in C#/ASP.NET, Node.js, Python using Django and PHP using  WordPress and CodeIgniter for the back-end and HTML, CSS using Sass preprocessor and Bootstrap framework, JavaScript/jQuery and media queries for the front-end. I also have experience with both SQL and NoSQL.</p>

  <p>Over my years of experience, I have worked developing the back and front end of web applications, both B2B and B2C, with users ranging from hundreds to millions. These applications include CRMs, CMSs, configuration dashboards and a music streaming platform. I have also developed the front-end of many hotels in Brazil when working for a digital marketing agency focused in the hospitality industry. My experience includes environments focused on results and code quality, that have greatly contributed to my skills.</p>
</div>
<ul class="nav nav-menu nav-pills col-xs-12">
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/">Home</a></li><br class="visible-xs visible-sm" />
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/portfolio">Portfolio</a></li>
  <li class="col-xs-6 col-md-2"><a class="btn" href="assets/custom/GabrielCosta-Resume.pdf" target="_blank">Resum&eacute;</a></li><br class="visible-xs visible-sm" />
</ul>
