<h1>  
  About
</h1>
<br/>
<div class="about">
  <p>My name is Gabriel Costa, B.Sc. in Computer Science from Universidade Federal do Rio Grande do Sul, elected the best Computer Science College in Brazil. I have experience developing on both back and front-end of websites and web-based applications (B2B and B2C) in C#/ASP.NET, Node.js, Python using Django and PHP using  WordPress and CodeIgniter for the back-end and HTML, CSS using Sass preprocessor and Bootstrap framework, JavaScript/jQuery and media queries for the front-end. I also have experience with both SQL and NoSQL.</p>

  <p>I possess a year of experience working for Sthima, a startup developing a cloud based CRM software. I also have eighteen months of experience working for Pmweb, a Digital Marketing agency, where I developed websites for hotels and resorts. Currently I'm working as a software engineer for Superplayer, where I am developing my business and coding skills in a result-oriented environment.</p>

  <p>I lived for a year in Dublin and also taught English in my home town. I love web development and solving hard problems, have great programming logics and work very welI on a team.</p>
</div>
<ul class="nav nav-menu nav-pills col-xs-12">
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/">Home</a></li><br class="visible-xs visible-sm" />
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/portfolio">Portfolio</a></li>
  <li class="col-xs-6 col-md-2"><a class="btn" href="assets/custom/GabrielCosta-Resume.pdf" target="_blank">Resum&eacute;</a></li><br class="visible-xs visible-sm" />
</ul>