<h1>  
  Portifolio
</h1>
<br/>
<div class="portifolio">
  <div class="item" ng-repeat="item in portifolio" portifolio-item="item"></div>
</div>
<ul class="nav nav-menu nav-pills col-xs-12">
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/">Home</a></li><br class="visible-xs visible-sm" />
  <li class="col-xs-6 col-md-2"><a class="btn" href="assets/custom/GabrielCosta-Resume.pdf" target="_blank">Resum&eacute;</a></li><br class="visible-xs visible-sm" />
  <li class="col-xs-6 col-md-2"><a class="btn" href="#!/about">About</a></li>
</ul>